.Home {
  text-align: center;
}

.Home .lander {
    padding: 80px 0;
    margin-top: -10%;
    text-align: center;
  }

  .btn {
    margin: 5px;
  }
  #begin_button {
    font-family: "PRESS_START" !important;
  }

  #western {
    font-family: "RODEO", sans-serif !important;
    font-size: 300%;
    color: white;
  }

  button {
    margin-top: 10px !important;
  }

  image {
    border-image-slice: 33% 33% 33% 33%; border-image-width: 1.5em 1.5em 1.5em 1.5em; border-image-outset: 0px 0px 0px 0px; border-image-repeat: round round; border-image-source: url("https://mdn.mozillademos.org/files/6009/border-image-2.png");
  }

  .progress-bar {
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333;
  }

  .shade {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .modal_container {
    text-align: center;
  }


  @media all and (min-width: 480px) {
  
     form {
      margin: 0 auto;
      padding: 60px 0;
      max-width: 320px;
    }
  }
  
  .filler {
    background: green;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
  }
  
  .Home .lander h1 {
    font-family: "RODEO", sans-serif;
    font-size: 100px;
    color: white;
  }

  .imageInsert {
    border:10px outset #c7b9b6;
    border-width:10px;
    border-style:inset;
    border-color:#c7b9b6;
    max-width: 85%;
    max-height: 85%;
  }

  .splash {
    margin-bottom: 20px !important;
  }

  .modalInsert {
    max-width: 85%;
    max-height: 85%;
  }

  .flipped_image {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  
  .Home .lander p {
    color: #999;
  }

  .Home .lander div {
    padding-top: 20px;
  }
  .Home .lander div a:first-child {
    margin-right: 20px;
  }

  .Home .notes h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Home .notes p {
    color: #666;
  }