@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      background: url('../images/CityScape.gif') no-repeat fixed center;
      
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }