.App {
  margin-top: 15px;
}

.navbar {
  font-weight: bold;
  font-family: "RODEO", sans-serif;
  font-size: 300%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.App .navbar-brand {
  font-weight: bold;
  font-family: "RODEO", sans-serif;
  font-size: 100%;
}

div {
  text-align: center;
}

.pixel_button {
  font-family: "PRESS_START", sans-serif !important;
}



.flipped_image {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

#dino {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-bottom: 2%;
  margin-top: -2%;
}

img {
  margin-top: 2%;
  margin-bottom: 2%;
}