@font-face {
  font-family: 'RODEO';
  src: local('RODEO'), url(./fonts/RODEO.ttf) format('truetype');
}
@font-face {
  font-family: 'PressStart';
  src: local('PressStart'), url(./fonts/PressStart.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: "PressStart", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "RODEO", serif;
}

#city_scape {
  animation: SkyColor 60s ease infinite;
}

@keyframes SkyColor {
  0% {filter: hue-rotate(0deg);}
  50% {filter: hue-rotate(180deg);}
  0% {filter: hue-rotate(360deg);}
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}